/* ......common style....... */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.primary-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 20px;
    border: none;
}
h3{
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}
 p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* ......header style...... */
header{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 60px;
    justify-content: space-between;
    padding: 50px 140px 0px 140px;
}
.header-container h1{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.header-image img{
    width: 450px;
}

/* ......main section style...... */

/* ........featured-flowers-container......... */
.featured-flowers-container{
    padding:100px 150px 50px 150px;
    text-align: center;
}
.featured-flowers-container p{
    width: 700px;
    margin: 0 auto;
    padding: 20px;
}
.featured-flowers{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.featured-flower1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 200px;
    height: 250px;
    padding: 50px;
}
.featured-flower2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 200px;
    height: 250px;
    padding: 50px;
}
.featured-flower3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 200px;
    height: 250px;
    padding: 50px;
}
.flower h5{
    margin: 0;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
}
.underline{
    width: 150px;
    margin: 0 auto;
    display: block;
    background-color: #E55473;
}

/* .....hot-deal style...... */
.hot-deal{
    margin: 100px 0;
    background-color:rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 100px 150px;
}
.hot-deal-info{
    padding: 50px;
    text-align: center;
}
.hot-deal-info h3 span{
    color: #E55473;
}
.hot-deal img{
    width: 300px;
}

/* .......instagram style........  */
.instagram-container{
    padding: 0 100px;
    text-align: center;
}
.instagram-container p{
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.instagram-images{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin: 50px 0;
}
.instagram-images img{
    width: 250px;
}

/* ........latest-deals.......... */
.latest-deals{
    text-align: center;
    background-image: url("images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px;
    padding: 80px;
}
.new-clint-email{
    padding: 20px;
    margin: 0 15px;
    width: 500px;
    border: none;
    border-radius: 8px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

/* .......customers style...... */
.customer-container{
    padding: 50px 150px;
}
.customer-container h3{
    text-align: center;
    margin-bottom: 30px;
}
.customers{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.customer{
    background-color: rgba(229, 84, 115, 0.10);
    border-radius: 5px;
    box-shadow:5px 5px 10px #c4b8b8;
}
.customer img{
    width: 250px;
    border-radius: 5px;
}
.customer-info{
    padding:30px 10px;
}
.customer-info h5,h6{
    margin: 0;
    padding: 2px 0;
}
/* .......footer container style.........*/
.footer-container{
    text-align: center;
    padding: 100px 400px;
    background-color: black;
    color: #FFF;
}
.footer-container >h3>span{
    color: #E55473;
}
.footer-container p{
    color: #FFF;
}
.copyright{
    color: rgba(39, 39, 39, 0.60);
}